@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  margin: 0 auto;
}

.fancy-background {
  --s: 38px; /* control the size*/
  --c1: #8fb4ef;
  --c2: #ffffff;

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
  background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
      var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
    radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
    radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
      var(--c1);
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.17px;
  margin: 15px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin: 15px 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin: 15px 0;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  margin: 15px 0;
}

h5 {
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2px;
  margin: 15px 0;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  margin: 15px 0;
}

td {
  min-width: 75px;
}

.fancy-bar {
  padding: 3px;
  background-image: linear-gradient(to bottom left, #5a77ff, #bc7198, #ffc593);
}

.filter-white {
  filter: invert(100%) sepia(5%) saturate(7408%) hue-rotate(194deg)
    brightness(120%) contrast(122%);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
  }

  td {
    display: inline-block;
  }
}
